@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,600;1,700&display=swap');


html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#faf0e6;
}

.container__table {
    margin: 0 auto;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 80% auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #55828B;
    color: white;
    align-items: center;
    padding: 5px 40px;
}

#header__title {
    text-decoration: none;
    color: white
}

.menu li {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin-left: 0px;
    padding: 19px;
    transition: background-color 0.4s linear;
}

.menu li:hover {
    background-color: #365359;
}

.menu li a{
    text-decoration: none;
    color: white;
}

main {
    grid-area: main;
    margin: 0 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 15% repeat(3, 100px);
    gap: 20px;
}

.page__title {
    grid-column: 1/5;
    text-align: center;
    color: #55828B;
    font-family: 'Lora', serif;
    font-style: italic;
}


.card {
    
    background-color: #55828B;
    display: flex;
    align-items: center;
    min-width: 200px;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
}

.card:hover{
    background-color: #365359;
    font-size: large;
}

.card > p {
    margin-left: 10px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.card__img {
    opacity: 1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}

.card > a {
    max-height: 70px;
}


footer {
    grid-area: footer;
    background-color: #365359;
    text-align: center;
    
}

footer p {
    color: white;
    font-size: large;
    font-weight: 200;
}

/* * DARK MODE */

@media (prefers-color-scheme:dark) {
    body {
        background-color: #2d2e2e;
    }
    .table__stripes td {
        color: white;
    }
}

/* * TABLET */

@media screen and (min-width: 768px) and (max-width: 991px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 20% repeat(3, 100px);
        margin: 0 20px;
        gap:0;
        margin: 0 auto;
    }

    .card {
        margin: 10px;

    }

    .card-1 {
        grid-column-start: 1;
    }

    .card-4 {
        grid-column-start: 1;
    }

    .card-7 {
        grid-column-start: 1;
    }

}