@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,600;1,700&display=swap');


html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#faf0e6;
}

.container__table {
    margin: 0 auto;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10% 80% auto;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #55828B;
    color: white;
    align-items: center;
    padding: 5px 40px;
}

.menu li {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin-left: 0px;
    padding: 19px;
    transition: background-color 0.4s linear;
}

.menu li:hover {
    background-color: #365359;
}

.menu li a{
    text-decoration: none;
    color: white;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 10% repeat(3, 100px);
    gap: 20px;
}

.titolo {
    grid-column: 1/ 7;
    text-align: center;
    color: #55828B;
    font-family: 'Lora', serif;
    font-style: italic;
}


.card {
    background-color: #55828B;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    transition: background-color 0.2s ease-in;
}

.card:hover{
    background-color: #365359;
}

.card > p {
    margin-left: 10px;
    color: white;
}

.card-1{
    grid-column-start: 2;
}

.card-5 {
    grid-column-start: 2;
}

.card__img {
    opacity: 1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


footer {
    grid-area: footer;
    background-color: #365359;
    text-align: center;
    
}

footer p {
    color: white;
    font-size: large;
    font-weight: 200;
}

/* * DARK MODE */

@media (prefers-color-scheme:dark) {
    body {
        background-color: #2d2e2e;
    }
    .table__stripes td {
        color: white;
    }
}