@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,600;1,700&display=swap');


html {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

body {
    background-color:#faf0e6;
    margin: 0px;
    height: 100vh;
}

.container-view {
    padding: 10px 10px;
    max-width: 1080px;
    min-height: 100%;
    margin: 20px auto; 
    display: grid;
    grid-template-columns: 28% auto;
    grid-template-rows: 200px auto 70px;
    grid-template-areas: 
        "main main"
        "aside section"
        "content content"
    ;
    row-gap: 30px;
    column-gap: 50px;
    overflow: auto;
}

header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    background-color: #55828B;
    color: white;
    align-items: center;
    padding: 5px 40px;
    padding-right: 22px;
}

.menu li {
    text-decoration: none;
    display: inline-block;
    height: 100%;
    margin-left: 0px;
    padding: 19px;
    transition: background-color 0.4s linear;
}

.menu li:hover {
    background-color: #365359;
}

.menu li a{
    text-decoration: none;
    color: white;
}

main {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.page__title {
    text-align: center;
    margin-top: 0px;
    color: #55828B;
    font-family: 'Lora', serif;
    font-style: italic;
}

aside {
    background-color:#55828B;
    border-radius: 20px;
    color: white;
    padding: 0px 20px;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

section {
    grid-area: section
}


.contact__img {
    width: 200px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact__image {
    flex-basis: 300px;
}

.contact__info {
    flex-grow: 1;
    text-align: center;
}

.contact__personale {
    display: block;
    text-decoration: none;
    color: white;
    margin: 10px;
}

.contact__button {
    cursor: pointer;
    margin: 5px 10px;
    background-color: #55828B;
    color: white;
    border: 0px;
    border-radius: 20px;
    font-family: inherit;
    transition: background-color 0.4s ease-in;
}

.contact__button:hover {
    background-color: #365359;
}

.contact__list {
    list-style: none;
    padding-left: 0px;
}

.contact__list li {
    margin-bottom: 30px;
}

.contact__list li {
    overflow-wrap: break-word;
    hyphens: auto;
}

.contact__list li::before {
    content: "> "
}

.contact__smtitol {
    color:#55828B;
    margin-bottom: 5px;
    font-family: 'Lora', serif;
    font-style: italic;
}

.contact__bio {
    margin-top: 0px;
}

.contact__hobby {
    padding: 0px;
    list-style: none;
    margin-top: 0px;
    margin-left: 5px;
}

.contact__hobby li {
    padding: 0px;
    margin-top: 5px;
}

.fa-solid:before {
    color: #55828B;
    display: inline-block;
    width: 30px;
    text-align:center;
}

content {
    grid-area: content;
    text-align: center;
}

content button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: larger;
}

#setting {
    display: none;
    margin: 0px auto;
    width: 420px;
}

#setting h1 {
    text-align: center;
}

#setContact {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

#setContact > div {
    display: flex;
    flex-direction: column;
    gap:5px;
    border: 2px solid #55828B;
    border-radius: 20px;
    padding: 10px;
}

.setInput {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.setInput span {
    width: 150px;
    padding-right: 20px;
}

.setInput input {
    width: 300px;
    height: 20px;
}

textarea {
    height: 100px;
    width: 300px
}

.setButtons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact_save {
    padding: 5px 20px;
    border: 2px solid #55828B;
    cursor: pointer;
    transition: 0.2s;
    font-size: large;
}

#contact_undo {
    margin: 5px 10px;
    color: #55828B;
    background-color: #faf0e6;
    border: 2px solid #55828B;
    border-radius: 20px;
    font-family: inherit;
    transition: background-color 0.2s ease-in;
    padding: 5px 20px;
    cursor: pointer;
    font-size: large;
}

#contact_undo:hover {
    background-color: #55828B;
    color: white;
}

footer {
    background-color: #365359;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div {
    color: white;
    font-size: large;
    font-weight: 200;
    margin-bottom: 0px;
}

@media (prefers-color-scheme:dark) {
    body {
        background-color: #2d2e2e;
    }
    .flex__info p {
        color: white;
    }
    .contact__hobby li {
        color: white;
    }
    .contact__bio {
        color: white;
    }
    .contact__info h3 {
        color: white;
    }
}

/* * TABLET */

@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        margin: 20px 20px;
    }
    .contact__image {
        flex-basis: 30%;
    }
}

/* * PHONE */

@media screen and (max-width: 768px) {
    .contact__image {
        flex-basis: 0px;
    }
}